
<div class="banner" style='background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("<%= image_path('maxi-am-brunnen-_jYWndzkkVo-unsplash.jpg') %>");'>
  <div class="container text-center">
    <h1>Rent small boats and watercraft from your peers!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <%= link_to "See all boats", boats_path, class: "btn btn-primary" %>
  </div>
</div>



