<div class="banner" style='background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("<%= cl_image_path('maxi-am-brunnen-_jYWndzkkVo-unsplash_hnkbt1') %>");'>
  <div class="container text-center">
    <h1>Rent small boats and watercraft from your peers!</h1>
    <%= link_to "See all boats", boats_path, class: "btn btn-primary mt-5" %>
    <div class="row">
      <div class="col-lg-4">
        <div class="card-homepage">
          <h1>Hey</h1>
        </div>
      </div>
    </div>
  </div>
</div>


