.card-homepage {
  background-color:rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 20px;
}


.card-homepage h1{
  color: white;
}

.quotation-marks {
  padding-bottom: 0;
  margin-bottom: 0;
  color: #00C8B6;
  font-size: 50px;
  line-height: 0 {

  }
}
