// Import your components CSS files here.

@import "alert";
@import "avatar";
@import "navbar";
@import "navbar-index";
@import "index-cards";
@import "show";
@import "create";
@import "banner-index";
@import "map";
@import "my-booking";
@import "footer";
@import "homepage-cards";



body {
  background-color: white;
}

