.card-boat {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 50px;
}

.card-boat > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-boat h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-boat p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  word-break: break-all;
}

.card-boat .card-boat-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 120px;
}

.card-boat-infos .card-boat-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.flex-end-yes {
  display:flex;
  align-items: flex-end;
}

.border-top-cards {
  padding-top: 20px;
  border-top: 1px solid #D5D5D5;
}

.card-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-delete-boat {
  list-style: none;
  position: absolute;
  top: 20px;
  right: 40px;
}

.white-trash {
  color: white;
}
