.card-booking {
  margin: 2px;
}

.booking-card-title {
  margin: 2px;
}

.user-booking-list {
  list-style: none;
}

.card-in-card-user {
  margin: 3px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px;
  width: 500px;
}

.username-booker {
  margin: 0
}

.date-of-booking {
  margin: 0
}

.accepted-banner {
  border: 2px solid #1EC26B;
  padding: 5px;
  background-color: #1EC26B;
  border-radius: 9px;
  color: white;
}

.declined-banner {
  border: 2px solid #E91015;
  padding: 5px;
  background-color: #E91015;
  border-radius: 9px;
  color: white;
}

.pending-banner {
  border: 2px solid #F0C009;
  padding: 5px;
  background-color: #F0C009;
  border-radius: 9px;
  color: white;
}

.yessss {
  height: 1000px;
}


