.card-booking {
  margin: 2px;
}

.booking-card-title {
  margin: 2px;
}

.user-booking-list {
  list-style: none;
}

.card-in-card-user {
  margin: 3px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px;
  width: 500px;
}

.username-booker {
  margin: 0
}

.date-of-booking {
  margin: 0
}

.accepted-banner {
  border: 2px solid #1EDD87;
  padding: 5px;
  background-color: #1EDD87;
  border-radius: 9px;
  color: white;
}

.declined-banner {
  border: 2px solid #FD1015;
  padding: 5px;
  background-color: #FD1015;
  border-radius: 9px;
  color: white;
}

.pending-banner {
  border: 2px solid #FFC009;
  padding: 5px;
  background-color: #FFC009;
  border-radius: 9px;
  color: white;
}


