.card-booking {
  margin: 2px;
}

.booking-card-title {
  margin: 2px;
}

.user-booking-list {
  list-style: none;
}

.card-in-card-user {
  margin: 3px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px;
  width: 500px;
}

.username-booker {
  margin: 0
}

.date-of-booking {
  margin: 0
}
