.navbar-index {
  border-top: 1px solid #D5D5D5;
  background-color: #F2F2F2;
}

.sub-nav-list {
  display: flex;
  list-style: none;
  margin: 0px;
  padding-inline-start: 0px;
}

.sub-nav-list-item {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-right: 1px solid #D5D5D5;
}

.sub-nav-list-item p {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 13px;
}
