.navbar-lewagon {
  justify-content: space-between;
  background: #F2F2F2;
  padding: 0;
  margin: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-menu h5 {
  padding: 35px;
  margin: 0px !important;
  line-height: 0px !important;
  color: black;
  border-right: 1px solid #D5D5D5;
}

.navbar-menu:hover {
    text-decoration: none;
  }

.center-items {
  margin-top: 25px;
  margin-right: 10px;
}

.items-logged-in {
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item-login {
  padding: 35px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: #00C8B6;
}
.nav-link-login {
  padding: 0px;
  margin: 0px;
  color: white;
  font-size: 18px;
}
.nav-item-login:hover {
  text-decoration: none;
}

.nav-search-bar {
  border-radius: 45px;
  padding-right: 25px !important;
  padding: 10px;
  color: white;
  background-color: #E6E6E6;
  border: 2px solid #D5D5D5;
  padding-left: 26px;
}
.nav-search-bar-border {
  border-radius: 30px;
  width: 600px;
  position: absolute;
  left: -118px;
  top: -6px;
}

.nav-item-create-a-new-button {
  padding: 35px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: #00C8B6;
  margin: 0 !important;
  border: 1.5px solid #00C8B6;
}
.nav-link-create-a-new-button {
  padding: 0px;
  margin: 0px;
  color: white;
  font-size: 15px;
}
.nav-item-create-a-new-button:hover {
  text-decoration: none;
}

.card-size {
  height: 90.5px;
  background-color: #F2F2F2;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  border-right: 1 solid black;
}

.avatar-name-text {
  margin-bottom: 0px;
  padding: 0.5rem;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.btn-mint {
  color: #fff;
  background-color: #00C8B6;
  border-color: #00C8B6;
  display: inline-block;
  font-weight: 400;
  // color: #0E0000;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
}

.btn-mint:hover {
  color: #fff;
  background-color: #329042;
  border-color: #329042;
  // color: #0E0000;
  text-decoration: none;
  transform: scale(1.05) perspective(1px);
  transition: 0.4s;
  }



