<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-index">
  <ul class="sub-nav-list">
    <li class="sub-nav-list-item">
      <p>FILTER BY <i class="fas fa-caret-down"></i> </p>
    </li>
    <li class="sub-nav-list-item">
      <p>CATEGORY</p>
    </li>
    <li class="sub-nav-list-item">
      <p>PRICE</p>
    </li>
    <li class="sub-nav-list-item">
      <p>PERSON</p>
    </li>
  </ul>
</div>


<div class="container mt-3">
  <h1>All Boats</h1>

  <ul>
    <% @boats.each do |boat| %>
    <li><%= link_to boat.name, boat_path(boat) %></li>
    <% end %>
  </ul>


</div>

