
<!-- SUB NAV BAR -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-index">
  <ul class="sub-nav-list">
    <li class="sub-nav-list-item">
      <p>FILTER BY </p>
    </li>
    <li class="sub-nav-list-item">
      <p>CATEGORY</p>
    </li>
    <li class="sub-nav-list-item">
      <p>PRICE</p>
    </li>
    <li class="sub-nav-list-item">
      <p>PERSON</p>
    </li>
  </ul>
</div>

<div class="container mt-5">

<p class="text-right"> <%= @boats.count %> results for "QUERY" in "LOCATION"</p>

  <div class="row border-top-cards">
    <% @boats.each do |boat| %>
    <div class="col-sm-4">
      <div class="card-boat">
  <img src="https://source.unsplash.com/random/kayak" />
  <div class="card-boat-infos">
    <div>
      <h2><%= link_to boat.name, boat_path(boat) %></h2>
      <p><%= boat.description %></p>
    </div>
    <h2 class="card-boat-pricing"><%= boat.price %> € / Day </h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-boat-user avatar-bordered" />
  </div>
</div>
    </div>
    <% end %>
  </div>

</div>

